
body {
    background-color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
}

#rubrik {
    color: darkslategray;
    font-size: 500%;
    position: absolute;
    top: 0%;
    width: 100%;
    text-align: center;
}





/*     MENU   */
#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2f4f4f;
    position: absolute;
    top: 0%;
    width: 100%;
    text-align: center;
    display: table;
}

#menu li{
    display: inline-block;
    float: none;
}

#menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#menu li a:hover {
    background-color: orange;
}

/* INDEX.HTML */
.outer {
    border-left: 5px solid #2f4f4f;
    border-radius: 20px;
    border-spacing: 10px;
    float: left;
}

.inner p {
    color: darkslategray;
    display: inline;
    text-align: center;
    font-size: 30px;
}

#oscar_bild {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 14px outset #2F4F4F;
}


/*    PORTFOLIO.HTML     */
.projekt {
    text-align: center;
    margin-top: 200px;
}

.projekt ul {
    list-style-type: square;
    display: inline-table;
}

.projekt li {
    display: inline;
}


