
body {
    background-color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
}

.rubrik {
    color: darkslategray;
    font-size: 500%;
    margin: 0;
    text-align: center;
}

/*   MENU     */
.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #2f4f4f;
    text-align: center;

}

.menu li{
    display: inline-block;
    float: none;
}

.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu li a:hover {
    background-color: orange;
}

.menu a:active {
    background-color: orange !important;
}

/*   PORTFOLIO.HTML      */

.oscar_bild {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 14px outset #2F4F4F;
}

.oscarinfoclass {
    border-left: 8px groove #2F4F4F;
    border-radius: 40px 40px 40px 40px;
}

.oscarinfo {
    color: darkslategray;
    font-size: 30px;
    display: block;
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;
    border-left: 5px solid #2f4f4f;
    border-right: 5px solid #2F4F4F;
    border-radius: 20px;
    padding: 20px;
}

.projekt ul {
    list-style-type: none;
    width: 0;
    margin-left: auto;
    margin-right: auto;
}

.projekt li {
}

